*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
}


.background{
    position: relative;
    width: 100%;
    height: 100%;
    background: hsla(185, 75%, 39%, 1)

}

.bg-circles{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.card{
    width: 350px;
    height: 374px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-top{
    height: 148px;
    position: absolute;
    background-color: hsla(183, 62%, 54%, 1);
}

.avatar{
    width: 96px;
    height: 96px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 30%);

}

.card-bottom{
    width: 133px;
    height: 49px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 60%);
}

.card-bottom h2{
    font-size: 18px;
}

.card-bottom h2 span{
    color: hsla(227, 10%, 46%, 1);
    font-weight: normal;
}

.location{
    font-size: 14px;
    color: hsla(227, 10%, 46%, 1);
}

.profile-stats{
    width: 370px;
    height: 69px;
    border-top: 1px solid hsla(225, 10%, 92%, 1);
    position: absolute;
    transform: translate(-30%, 30%);
}

.stat-item{
    display: inline-block;
    width: 30%;
    padding-top: 24px;
}

.number{
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.value{
    display: block;
    font-size: 10px;
    color: hsla(227, 10%, 46%, 1);
    transform: translateY(8px);
}